<Ui xmlns="http://www.blizzard.com/wow/ui/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <Frame name="JP_SettingEntry" virtual="true">
        <Size>
            <AbsDimension x="283" y="24"/>
        </Size>
    </Frame>
    <Frame name="JP_SettingEditBox" virtual="true">
        <Size>
            <AbsDimension x="36" y="24"/>
        </Size>
        <Backdrop bgFile="Interface\DialogFrame\UI-DialogBox-Background" tile="true">
            <Color r="0" g="0" b="0" a="0.7"/>
        </Backdrop>
        <Scripts>
            <OnEscapePressed>
                self:ClearFocus()
                Jp.Settings:saveSetting(self:GetID())
            </OnEscapePressed>
            <OnEnterPressed>
                self:GetScript("OnEscapePressed")(self)
            </OnEnterPressed>
        </Scripts>
    </Frame>
    <CheckButton name="JP_SettingCheckButton" inherits="ChatConfigCheckButtonTemplate" virtual="true">
        <Size>
            <AbsDimension x="36" y="24"/>
        </Size>
    </CheckButton>
    <Frame name="JP_SettingsFrame" inherits="JP_CenterFrame" hidden="true">
        <Scripts>
            <OnLoad>
                    Jp.Settings:onLoad()
                    self:RegisterEvent("ADDON_LOADED")
            </OnLoad>
            <OnEvent>
                    Jp.Settings:settingsLoaded(event, ...)
            </OnEvent>
        </Scripts>
    </Frame>
</Ui>